<h2>Structural Directives</h2>
  <p *ngIf="blueClass">Button is blue.</p>


<hr>
<h2>Attribute Directives</h2>
<button (click)="blueClass = !blueClass"
[ngClass]="{blue: blueClass}"
[ngStyle]="{'font-size.px': fontSize}"
>Change</button>

<hr>

<!-- Using event binding on image-->
<input type="" (keyup)="changeImage($event)" [value]="imgUrl"/>
<!-- Using property binding on image-->
<!-- <img [src]="imgUrl" /> -->

<!-- Using custome property binding on image-->
<!-- <app-post [postImg]="imgUrl"></app-post> -->
<app-post *ngFor="let image of images; let i = index" [img]="image" (imgSelected)="logImg($event)">
  <p>{{i + 1}} - Some Content</p>
</app-post>

<h1>{{ name | titlecase }}</h1>

<h2>{{ currentDate | date : 'fullDate'}}</h2>

<p>{{ cost | currency :'EUR'}}</p>

<p>{{ temperature | number : '1.0-0'}}</p>

<pre>
  {{ pizza | json }}
</pre>


